
/*
Regla CSS - consta de 2 partes
1. Selector
2. Bloque de declaraciones(atributos a modificar){
    atributo:valor;
    atributo-de-mas-de-dos-palabras:otro-valor;
}
*/

/*@import url(style_2.css);*/
/* Son mala práctica ya que son bloqueantes al momento de que el navegador lee esta instrucción */

h1 {
    color: orangered;
    background-color: black;
}

/*
Selectores básicos
1. Etiquetas - son elementos html
2. Identificadores - atributo id - #
3. Clases - atributo class - .
*/

p {
    color: midnightblue;
    /* Se corre el riesgo de que se aplique a todas las etiquetas de este tipo */
}

/* Dar estilos con ids se consdera un antipatrón(mala práctica) */

#parrafo-dos {
    background-color: skyblue;
}


/* Recomendación, maquetar con Clases, dar estilos con clases nos permite reutilizar nuestro código CSS */

.text-32 {
    font-size: 32px;
}

.bg-skyblue {
    background-color: skyblue;
}

.text-white {
    color: white;
}

.hijos-directos > li { /* Para hijos directos se utiliza > */
    background-color: thistle;
}

.hijos-descendientes b { 
/* Cuando no importa en nivel dentro del elemento padre comparado con el elemento al que le voy a aplicar estilos uso espacio en blanco */
    background-color: thistle; 
}

/* Los selectores de hermanos van a aplicar a los elementos que son hermanos y que esten por debajo del elemento de referencia */
.hermanos-general ~ li {
    background-color: thistle;
}

.hermanos-adyacentes + li {
    background-color: thistle;
}

/* Selectores de atributos */
.selectores-atributos a[href] {
    color: orangered;    
}

.selectores-atributos a[target="_blank"] {
    font-weight: bold;
}

.selectores-atributos a[href*="jonmircha"] { 
/* mientras en elemento contenga la palabra indicada(jonmircha) en cualquier parte, aplicará los estilos cuando usamos (*) */
    font-size: 24px;
}

.selectores-atributos a[href^="http://"] { 
/* El circunflejo(^) se saca con alt+94* y aplica los estilos cuando el texto inicia con el texto que nosotros indicamos */
    text-decoration: none;
}

.selectores-atributos a[href$=".com"] { 
/* El dolar($) aplica los estilos cuando el texto termina con el texto que nosotros indicamos */
    background-color: black;
}

.selectores-atributos a[class~="cursos"]{
/* El (~) aplica los estilos si contiene el texto indicado en una lista separada por espacios */
    background-color: midnightblue;
    color: white;
}

.selectores-atributos a[class|="menu"]{
/* El (|) aplica los estilos si contiene el texto indicado en una lista separada por espacios y que después del texto en cuestion venga el - */
    font-style: italic;
}

/* Selector universal */

* {
    font-family: sans-serif;
}

/* Uso de forma contextual del selector universal */

.selector-universal * {
    font-size: 24px;
}

/* Las pseudoclases(:) dan estilos dependiendo del contexto, posición, o estado del elemento
https://developer.mozilla.org/es/docs/Learn/CSS/Building_blocks/Selectors/Pseudo-classes_and_pseudo-elements */

/* Las pseudoclases se distinguen porque empiezan por : */

.form-pseudoclases *:required {
    border-color: yellow;
}

.form-pseudoclases *:valid {
    border-color: green;
}

.form-pseudoclases *:invalid {
    border-color: red;
}

.form-pseudoclases *:focus {
    background-color: skyblue;
}

.form-pseudoclases *:disabled {
    color: aliceblue;
    background-color: grey;
}

.menu-pseudoclases a:visited {
    color: olive;
}

.menu-pseudoclases a:hover {
    color: orange;
}

/* El estado hover aplica sobre cualquier etiqueta html */

.p-pseudoclases:hover{
    font-size: 20px;
}

#tarjet-pseudoclases:target{
    background-color: lightgreen;
}

/* Aplicación de estilos por posición */

.lista-pseudoclases li:first-child {
    color: green;
}

.lista-pseudoclases li:last-child {
    color: violet;
}

.lista-pseudoclases li:nth-child(3) { /* nth-child recibe un argumento donde menciono la posición del iten de la lista a modificar */
    color: orangered;
}

.lista-pseudoclases li:nth-child(4n) { /* Con esta instrucción aplico estilos cada 4 posiciones */
    font-size: 20px;
}

.lista-pseudoclases li:nth-child(3n + 1) {
    font-weight: bold;
}

.lista-pseudoclases li:nth-child(even) { /* even es par*/
    background-color: yellow;
}

.lista-pseudoclases li:nth-child(odd) { /* odd es impar*/
    background-color: purple;
}

.articulo-pseudoclases p:first-of-type { /* primero en su tipo */
    background-color: pink;
}

.articulo-pseudoclases p:last-of-type { /* último en su tipo */
    background-color: pink;
}

.articulo-pseudoclases p:nth-of-type(3) {
    background-color: fuchsia;
}

.articulo-pseudoclases *:not(p) { /* Aplica los estilos excepto al que este entre () */
    background-color: beige;
}

/* Los pseudoelementos(::) dan estilos a partes específicas de un elemento ver MDN */

.saga-geminis::before{ /* Con la tecla windows + . abro recuadro para usar emojis */
    content: "♊";
}

.saga-geminis::after{
    content: "🔵";
}

.saga-precio::before {
    content: "$";
    font-weight: bold;
}

.saga-precio::after {
    content: "USD";
    font-weight: bold;
}

.p-pseudoelementos::first-letter {
    font-weight: bold;
    font-size: 32px;
}

.p-pseudoelementos::first-line {
    color: coral;
}

.p-pseudoelementos::selection {
    color: greenyellow;
    background-color: black;
}

.input-pseudoelementos::placeholder {
    color: green;
}

/* Agrupar selectores (,) */

.form-agrupar-selectores input[type="text"],
.form-agrupar-selectores input[type="email"],
.form-agrupar-selectores textarea {
    border-color: yellow;
    border-width: 2px;
    border-style: dashed;
    background-color: black;
    font-size: 20px;
    display: block;
    width: 300px;
}

/* 
El Algoritmo de CSS: Es la forma en que el navegador aplica los estilos al documento HTML. Es vital entender este concepto para que entiendas 
como se aplican y en algunas ocasiones se sobreescriben las reglas CSS.
  1) La Cascada.
  2) La Especificidad.
  3) La Herencia.

La Cascada es el mecanismo en que el navegador aplica los estilos. Y toma en cuenta lo siguiente en este orden:
  1) El Origen del Código:
    - El User Agent (los estilos por defecto del navegador)
    - Personalizaciones del usuario.
    - Los estilos del autor.
  2) La Especificidad del Selector
  3) Orden de Aparición

La Especificidad es el peso que tiene un selector cuando hay conflicto de estilos. Se calcula de la siguiente forma:
  Etiquetas y pseudoelementos -------------- 0,0,0,1
  Clases, atributos y pseudoclases ------------0,0,1,0
  Identificadores -------------------------------0,1,0,0
  Estilos en línea--------------------------------1,0,0,0
  !important ------------------Rompe la especificidad
  
La Herencia, es la capacidad de un selector de obtener (heredar) los valores de sus ancestros más cercanos, para aplicarla se usa el valor 
inherit, si queremos evitarla podemos asignar otro valor o inicializar la propiedad en cuestión con el valor initial
https://web.dev/learn/css/inheritance/#which-properties-are-inheritable
*/

blockquote#cita-marco.cita-marco { /* Este es el orden etiqueta-id-clase-atributos*/
    background-color: lightblue;
}

blockquote {
    background-color: burlywood;
}

#cita-marco {
    background-color: lightgreen;
}

blockquote.cita-marco {
    background-color: tomato;
}

.cita-marco {
    background-color: cornflowerblue;
}

.cita-marco {
    background-color: mediumaquamarine !important;
}

blockquote#cita-marco {
    background-color: lightsalmon;
}

.cita-marco {
    background-color: moccasin !important;
    background-color: darkorange !important;
    font-size: 32px;
    border-style: dotted;
    border-color: red;
}

/* Todo lo que tiene que ver con la tipografía se hereda */

.cita-marco cite {
    background-color: pink;
    background-color: inherit;
    font-size: 24px;
    font-size: initial;
    border-style: inherit;
    border-color: inherit;
}

