html {
    scroll-behavior: smooth;
}

header {
    color:rgb(245, 10, 10);
}

body {
    font-family: sans-serif;
  }

  img {
      max-width: 100%;
      height: auto;
  }

#video {
    width: 40%;
    height: 40%;
}
